.snowfall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: #f2f2f2;
  font-size: 1.2rem;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 0.8;
  }

  100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
  }
}

.snowflake:nth-child(1) {
  left: 10%;
  animation-duration: 10s;
  font-size: 1.5em;
}

.snowflake:nth-child(2) {
  left: 20%;
  animation-duration: 8s;
  font-size: 1em;
}

.snowflake:nth-child(3) {
  left: 30%;
  animation-duration: 12s;
  font-size: 1.8em;
}

.snowflake:nth-child(4) {
  left: 40%;
  animation-duration: 9s;
  font-size: 1.2em;
}

.snowflake:nth-child(5) {
  left: 50%;
  animation-duration: 11s;
  font-size: 1.4em;
}

.snowflake:nth-child(6) {
  left: 60%;
  animation-duration: 7s;
  font-size: 1em;
}

.snowflake:nth-child(7) {
  left: 70%;
  animation-duration: 10s;
  font-size: 1.6em;
}

.snowflake:nth-child(8) {
  left: 80%;
  animation-duration: 9s;
  font-size: 1.3em;
}

.snowflake:nth-child(9) {
  left: 90%;
  animation-duration: 11s;
  font-size: 1.7em;
}

.snowflake:nth-child(10) {
  left: 100%;
  animation-duration: 8s;
  font-size: 1.2em;
}

body {
  min-width: 375px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(120deg, #a8d0e6, #f6f7fb, #bde0fe);
}

h1 {
  text-align: center;
}

.container {
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background: #f6f7fb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #c3dfe0;
}

#todo-input {
  width: 450px;
  padding: 0.5em;
  border: 2px solid #5dade2;
  border-radius: 5px;
  background-color: #e3f2fd;
  color: #1f618d;
}

#new-todo-button {
  padding: 0.5em;
  background-color: #5dade2;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #f1f1f1;
  cursor: pointer;
  margin-left: 5rem;

}

#new-todo {
  margin-left: 20px;
}

#new-todo-button:hover {
  background-color: #3498db;
  border-color: #1f618d;
}

#todo-list {
  list-style-type: none;
  padding: 0;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  background-color: #dfe6f1;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

#todo-list li .todo-text {
  margin-right: 8px;
}

#todo-list li button {
  background: none;
  border: 2px solid #2e86c1;
  cursor: pointer;
  color: #2e86c1;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.2em 0.5em;
}

#todo-list li button:hover {
  color: #1b4f72;
  border-color: #1b4f72;
}

@media(min-width: 375px) {
  .todo-item {
      font-size: 1rem;
      padding: 0.5rem;
  }
}